@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.brew-FadeAnimator--fadeIn{
    animation: fadeIn .35s forwards;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes fadeOut {
    0% { opacity: 1}
    100% { opacity: 0; }
}

.brew-FadeAnimator--fadeOut{
    animation: fadeOut .3s forwards;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
