@import "../../styles/utilities";


// ==============================================
// General
// ==============================================

.wrapper, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: size(normal);
}

.content {
    text-align: center;
}

.graphic {
    font-size: size(xx-large) * 2;
}

.message.noTitle {
    font-weight: bold;
}

.title {
    font-size: size(xx-large);
    font-weight: bold;
    color: color(gray, mid);
}
