# Logs
logs
*.log
*.md

# Runtime data
pids
*.pid
*.seed

# Coverage directory for Jest test coverage
coverage

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
.build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules/

#Webstorm metadata
.idea

# Mac files
.DS_Store

# Build files
/app/dist
material-icons
