# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory for Jest test coverage
coverage

# node-waf configuration
.lock-wscript

# Dependency directories
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
**/node_modules/**

# IDE metadata
**/.idea/
.vscode

# Mac files
.DS_Store

# storybook theme files
.build/storybook/assets/css/theme.css

# dist files (automatically handled in Github)
dist
