@import '../../../../styles/utilities';

.wrapper {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
}

.checkbox {
    height: size(xx-large);
    width: size(xx-large);
    border: 1px solid color(grey, 100);
    border-radius: map-get($inputs, border-radius);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .check {
        display: none;

        > svg {
            fill: white;
        }
    }

    input:checked + & {
        background: color(brand, primary);
        border-color: color(brand, primary);

        .check {
            display: initial;
        }
    }
}

.inputLabel {
    font-weight: map-get(map-get($typography, font-weights), body2);
    color: color(grey, 800);
    margin-left: size(small);
}

.hasError {

    .checkbox {
        border-color: color(accent, danger);
    }
}

.isDisabled {

    .checkbox,
    input:checked + .checkbox {
        border-color: color(grey, 100);
        background: color(grey, 100);
    }

    .inputLabel {
        color: color(grey, 300);
    }
}




