@import '../../../../styles/utilities';

.wrapper {
    overflow: hidden;
    display: inline-flex;

    input {
        position: absolute;
        left: -9999px;
        top: 0;
    }
}

.checkbox {
    height: size(xx-large);
    width: size(xx-large);
    border: 1px solid color(grey, 100);
    border-radius: map-get($inputs, border-radius);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    input:checked + & {
        background: color(brand, primary);
        border-color: color(brand, primary);

        .check {
            display: initial;
        }
    }

    .check {
        display: none;

        > svg {
            fill: white;
        }
    }
}

.hasError {
    border-color: color(accent, danger);
}

.isDisabled {
    border-color: color(grey, 100);
    background: color(grey, 100);
}
