@use "sass:map";
@use "variables";
@use "functions";


// ==============================================
// Responsive Mixins
// ==============================================

@mixin for-tablet-portrait-up {
  @media (min-width: map_get(variables.$breakpoints, tablet-portrait)) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: map_get(variables.$breakpoints, tablet-landscape)) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: map_get(variables.$breakpoints, desktop)) { @content; }
}


// ==============================================
// Triangle Mixin
// ==============================================

@mixin triangle($direction, $size, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;

    @if $direction == top {
        border-width: 0 $size $size $size;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottom{
        border-width: $size $size 0 $size;
        border-color: $color transparent transparent transparent;
    }
    @if $direction == left{
        border-width: $size $size $size 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == right{
        border-width: $size 0 $size $size;
        border-color: transparent transparent transparent $color;
    }
}


// ==============================================
// Background Color
// ==============================================

@mixin background-color($class-prefix) {
    $color-variants: primary, secondary, tertiary, success, info, warning, danger, light, dark;

    $background-colors: (
        primary:    functions.color(brand, primary),
        secondary:  functions.color(brand, secondary),
        tertiary:   functions.color(brand, tertiary),
        success:    functions.color(accent, success),
        info:       functions.color(accent, info),
        warning:    functions.color(accent, warning),
        danger:     functions.color(accent, danger),
        light:      functions.color(accent, light),
        dark:       functions.color(accent, dark),
    );

    @each $color in $color-variants {
        #{$class-prefix}#{$color} {
            background-color: map.get($background-colors, $color);
        }
    }
}
