@use "sass:map";
@use "material-colors";


// ==============================================
// Colors
// ==============================================

$colors: (

    brand: (
        primary:        material-colors.get(lightBlue),
        secondary:      material-colors.get(deepOrange),
        tertiary:       material-colors.get(blueGrey, 100),
    ),

    accent: (
        success:        material-colors.get(green),
        warning:        material-colors.get(amber, 300),
        danger:         material-colors.get(deepOrange),
        info:           material-colors.get(lightBlue),
        light:          material-colors.get(blueGrey, 300),
        dark:           material-colors.get(blueGrey, 800),
    ),

    base: (
        red:            material-colors.get(red),
        pink:           material-colors.get(pink),
        purple:         material-colors.get(purple),
        deepPurple:     material-colors.get(deepPurple),
        indigo:         material-colors.get(indigo),
        blue:           material-colors.get(blue),
        lightBlue:      material-colors.get(lightBlue),
        cyan:           material-colors.get(cyan),
        teal:           material-colors.get(teal),
        green:          material-colors.get(green),
        lightGreen:     material-colors.get(lightGreen),
        lime:           material-colors.get(lime),
        yellow:         material-colors.get(yellow),
        amber:          material-colors.get(amber),
        orange:         material-colors.get(orange),
        deepOrange:     material-colors.get(deepOrange),
        brown:          material-colors.get(brown),
        grey:           material-colors.get(grey),
        blueGrey:       material-colors.get(blueGrey),
    ),

    grey: map.get(material-colors.$material_colors, blueGrey),

);


// ==============================================
// General
// ==============================================

$general: (

    border-radius: 4px,

    box-shadow: 0 1px 3px map.get(map.get($colors, grey), 300),

    sizes: (
        xx-large:   2rem,
        x-large:    1.5rem,
        large:      1.25rem,
        normal:     1rem,
        small:      0.75rem,
        x-small:    0.5rem,
        xx-small:   0.25rem,
        base:       1rem,
    ),

) !default;


// ==============================================
// Breakpoints (min device width)
// ==============================================

$breakpoints: (
    tablet-portrait:    600px,
    tablet-landscape:   900px,
    desktop:            1800px,
);


// ==============================================
// Components
// ==============================================

$border-radius: 3px;


// ==============================================
// Inputs
// ==============================================
$inputs: (
    border-radius: .25em,
    width: 350px,
);


// ==============================================
// Dialog
// ==============================================
$dialog: (
    z-index: 40,
    backdrop-color: rgba(0, 33, 48, 0.9),
    max-width: 530px,
);



// ==============================================
// Box Shadows
// ==============================================

@mixin height-1 {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12)
}

@mixin height-2 {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12)
}

@mixin height-3 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12)
}

@mixin height-4 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 5px 8px 0 rgba(0,0,0,0.14), 0 1px 14px 0 rgba(0,0,0,0.12)
}

@mixin height-5 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12)
}
