@import '../../../../styles/utilities';

.wrapper {
    display: inline-flex;
    overflow: hidden;

    input {
        position: absolute;
        left: -9999px;
    }
}

.radio {
    height: size(xx-large);
    width: size(xx-large);
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid color(grey, 100);
    box-sizing: border-box;

    input:checked + & {
        border-width: 10px;
        border-color: color(brand, primary);

        &.isDisabled {
            background-color: white;
            border-color: color(grey, 100);
        }
    }
}

.isDisabled {
    background-color: color(grey, 100);
}