@import "../../styles/utilities";


// ==============================================
// Variables
// ==============================================

$popup: (

    border_radius: $border-radius,

    colors: (
        primary: color(brand, primary),
        secondary: color(brand, secondary),
        success: color(accent, success),
        danger: color(accent, danger),
        warning: color(accent, warning),
        info: color(accent, info),
        dark: color(accent, dark),
        light: color(grey, 50),
    )

);


// ==============================================
// General
// ==============================================

.wrapper {
    position: relative;
    display: inline-block;
}

.popup {
    @extend %height-1;
    min-width: 200px;
    max-width: 500px;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    padding: 1em;
    border-radius: $border-radius;
    font-size: size(small);
    z-index: 1;
    pointer-events: none;
}


// ==============================================
// Positioning
// ==============================================

// ----------------------------------------------
// general

.position--top-left,
.position--top-right,
.position--top-center,
.position--bottom-left,
.position--bottom-right,
.position--bottom-center,
.position--left,
.position--right {

    .popup {
        position: absolute;

        &:before {
            position: absolute;
        }

    }

}

// ----------------------------------------------
// bottom anchored

.position--bottom-left,
.position--bottom-right,
.position--bottom-center {

    .popup {
        margin-top: 0.5rem;
        top: calc(100% + 0.5rem);

        &.isDisplaying {
            top: 100%;
        }

        &:before {
            top: -0.5rem;
        }

    }
}

// ----------------------------------------------
// top anchored

.position--top-left,
.position--top-right,
.position--top-center {

    .popup {
        margin-bottom: 0.5rem;
        bottom: calc(100% + 0.5rem);

        &.isDisplaying {
            bottom: 100%;
        }

        &:before {
            bottom: -0.5rem;
        }

    }
}

// ----------------------------------------------
// right anchored

.position--top-right,
.position--bottom-right {

    .popup {
        right: 0;

        &:before {
            right: 0.5rem;
        }

    }
}

// ----------------------------------------------
// left anchored

.position--top-left,
.position--bottom-left {

    .popup {
        left: 0;

        &:before {
            left: 0.5rem;
        }

    }
}

// ----------------------------------------------
// center anchored

.position--top-center,
.position--bottom-center {

    .popup {
        left: 50%;
        transform: translateX(-50%);

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }

    }

}

// ----------------------------------------------
// right anchored

.position--right {

    .popup {
        left: calc(100% + 0.5rem);
        top: 50%;
        margin-left: 0.5rem;
        transform: translateY(-50%);

        &.isDisplaying {
            left: 100%;
        }

        &:before {
            left: -0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }

    }

}

// ----------------------------------------------
// left anchored

.position--left {

    .popup {
        right: calc(100% + 0.5rem);
        top: 50%;
        margin-right: 0.5rem;
        transform: translateY(-50%);

        &.isDisplaying {
            right: 100%;
        }

        &:before {
            right: -0.5rem;
            top: 50%;
            transform: translateY(-50%);
        }

    }

}


// ==============================================
// Colors
// ==============================================

@mixin color-styles($colorName) {

    $popup_color: map_get(map_get($popup, colors), $colorName);

    &.position--bottom-left,
    &.position--bottom-right,
    &.position--bottom-center {
        .popup:before {
            @include triangle(top, 0.5rem, $popup_color);
        }
    }

    &.position--top-left,
    &.position--top-right,
    &.position--top-center {
        .popup:before {
            @include triangle(bottom, 0.5rem, $popup_color);
        }
    }

    &.position--right {
        .popup:before {
            @include triangle(left, 0.5rem, $popup_color);
        }
    }

    &.position--left {
        .popup:before {
            @include triangle(right, 0.5rem, $popup_color);
        }
    }

    .popup {
        background-color: $popup_color;
        color: set-text-color($popup_color);
    }

}

.color--primary { @include color-styles(primary); }

.color--secondary { @include color-styles(secondary); }

.color--success { @include color-styles(success); }

.color--danger { @include color-styles(danger); }

.color--warning { @include color-styles(warning); }

.color--info { @include color-styles(info); }

.color--light { @include color-styles(light); }

.color--dark { @include color-styles(dark); }


// ==============================================
// States
// ==============================================

.isDisplaying.popup {
    opacity: 1;
    pointer-events: auto;
}

.isBlock.wrapper {
    display: block;
}

.isConstrained .popup {
    min-width: 0;
    width: 100%;
}
