@use 'sass:map';
@use '../utilities';


// ==============================================
// Variables
// ==============================================

$backgroundColor: utilities.color(grey, 500);


// ==============================================
// General
// ==============================================

.brew-AppBar {
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;     // Prevent padding issue with the Modal and fixed positioned AppBar.
    flex-shrink: 0;

    &.brew-AppBar {

        // --------------------------------------
        // Positions

        &--position-fixed {
            position: fixed;
            top: 0;
            left: auto;
            right: 0;
            @media print { position: absolute; }        // Prevent the app bar to be visible on each printed page.
        }

        &--position-absolute {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
        }

        &--position-sticky {
            position: sticky;
            top: 0;
            left: auto;
            right: 0;
        }

        &--position-static {
            position: static;
            transform: translateZ(0);                   // Make sure we can see the elevation.
        }

        &--position-relative {
            position: relative;
        }

        // --------------------------------------
        // Colors

        @include utilities.background-color('&--color-');

        &--color-transparent {
            background-color: transparent;
        }

    }

}
