@use '../utilities';


$barColors: primary, secondary, tertiary, dark, light;


.brew-AppBar {

    &--left {
        left: 0;
        bottom: 0;
        width: 4rem;

        .brew-AppBar__content {
            flex-direction: column;
            justify-content: center;
            align-items: start;
            height: 100%;
        }
    }

    &--bottom {
        bottom: 0;
        top: auto;
    }

    .brew-AppBar__content {
        padding: 0;

        i {
            padding: utilities.size(normal);
            font-size: utilities.size(xx-large);
        }
    }



    @each $color in $barColors {

        &--#{$color} {

            @if $color == 'primary' or $color == 'secondary' or $color == 'tertiary' {
                background-color: utilities.color(brand, $color);
            } @else {
                background-color: utilities.color(accent, $color);
            }

        }
    }
}
