@import "../utilities";


.brew-Banner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 4rem;
    background-color: color(grey, 800);
    border-left: 8px solid;
    border-bottom: 1px solid color(grey, 800);
    

    &.brew-Banner {
        &--major,
        &--minor {
            padding-right: 2rem;

            .brew-Banner__body {
                .brew-Banner {
                    &__bodyTitle {
                        font-size: 0.75rem;
                    }
    
                    &__bodyInfo {
                        font-size: 1rem;
                        color: color(grey,50);
                    }
                }
            }
        }

        &--alert {
            padding-right: 1rem;
        }
    }


    .brew-Banner {
        &__children {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        &__icon {
            height: 2.5rem;
            margin: .5rem;
        }

        &__bodyInfo {
            font-size: 0.75rem;
            color: color(grey, 50);
        }
    }
}


$bannerColors: 'danger', 'warning', 'info', 'success';

@each $bannerColor in $bannerColors {
    .brew-Banner--color-#{$bannerColor} {
        border-left-color: color(accent, $bannerColor);

        .brew-Banner__bodyTitle {
            font-size: 1rem;
            color: color(accent, $bannerColor);
        }

        .brew-Banner__icon {
            color: color(accent, $bannerColor);
        }

        &.brew-Banner--alert {
            background-color: rgba(color(accent, $bannerColor), 0.2);
            border-bottom: initial;

            .brew-Banner__bodyInfo {
                color: color(grey, 800);
            }
        }
    }
}