@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Breadcrumb {

    &--link {
        text-decoration: none;
        color: color(accent, info);
    }

    &--separator {
        margin: 0 size(x-small);
    }

    &--custom {
        color: color(base, purple);
    }

}
