@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Breadcrumb--link {
    text-decoration: none;
    color: color(accent, info);
}

.brew-Breadcrumb--separator {
    margin: 0 size(x-small);
}

.brew-Breadcrumb--custom {
    color: color(base, purple);
}
