@use '../utilities';


// ==============================================
// General
// ==============================================

.brew-Breadcrumb {

    &--link {
        text-decoration: none;
        color: utilities.color(accent, info);
    }

    &--separator {
        margin: 0 utilities.size(x-small);
    }

    &--custom {
        color: utilities.color(base, purple);
    }

}
