@use 'sass:color';
@use 'sass:map';
@use '../utilities';


// ==============================================
// Variables
// ==============================================

$font_weight: bold;
$colors: (
    primary: utilities.color(brand, primary),
    secondary: utilities.color(brand, secondary),
    success: utilities.color(accent, success),
    error: utilities.color(accent, error),
    warning: utilities.color(accent, warning),
    info: utilities.color(accent, info),
    dark: utilities.color(accent, dark),
    light: utilities.color(accent, light),
    link: utilities.color(accent, info),
);


// ==============================================
// General
// ==============================================

.brew-Button {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: utilities.$border-radius;
    padding: 1em 1.25em;
    font-family: inherit;
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s;
    color: white;

    .brew-Button {

        &__content {
            position: relative;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1em;
            opacity: 1;
            transition: all 0.3s;

            > *:not(:last-child) {
                margin-right: utilities.size(x-small);
            }

        }

        &__text {
            display: block;
            color: white;
            font-weight: $font_weight;
        }

        &__loadingIndicator {
            pointer-events: none;
            opacity: 0;
            position: absolute;
            top: calc(50% + 1rem);
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
        }

    }
}

.brew-Button--isDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

// ----------------------------------------------
// responsive

@include utilities.for-tablet-portrait-up {

    .brew-Button {
        width: auto;
        min-width: 1rem * 10;
    }

}


// ==============================================
// Colors
// ==============================================

$color-variants: primary, secondary, success, info, warning, error, light, dark;

@each $color in $color-variants {

    .brew-Button.brew-Button--color-#{$color} {

        $button_color: map_get($colors, $color);

        &.brew-Button--variant-text {
            background-color: transparent;
            border-color: transparent;

            &:hover:not(.brew-Button--isDisabled) {
                background-color: rgba($button_color, .1);
            }

            .brew-Button {

                &__content,
                &__text {
                    color: $button_color;
                }
            }
        }

        &.brew-Button--variant-standard,
        &.brew-Button--variant-icon,
        &.brew-Button--variant-labeled-icon {
            background-color: $button_color;
            border-color: $button_color;

            .brew-Button__content {
                color: utilities.set-text-color($button_color);
            }

            .brew-Button__icon {
                fill: utilities.set-text-color($button_color);
            }

            &:hover,
            &:active {
                background-color: color.adjust($button_color, $lightness: -10%);
                border-color: color.adjust($button_color, $lightness: -10%);
            }

            &.brew-Button--isDisabled {
                background-color: transparent;
                border-color: $button_color;

                .brew-Button__content,
                .brew-Button__text {
                    color: $button_color;
                }

            }

        }

    }

}

.brew-Button--color-link {
    background-color: transparent;
    border-color: transparent;
    color: map_get($colors, link);

    &:hover {
        background-color: rgba(map_get($colors, link), 0.1);
    }

}


// ==============================================
// Variants
// ==============================================

// ----------------------------------------------
// icon

.brew-Button--variant-icon {

    .brew-Button__text {
        display: none;
    }

}


// ==============================================
// Sizes
// ==============================================

.brew-Button--size-small {
    font-size: utilities.size(small);
    padding: utilities.size(x-small) utilities.size(small);
    width: auto;
    min-width: 0;
}

.brew-Button--size-medium { font-size: utilities.size(normal); }

.brew-Button--size-large { font-size: utilities.size(large); }


// ==============================================
// States
// ==============================================

// ----------------------------------------------
// isLoading

.brew-Button--isLoading {

    .brew-Button__content {
        top: -1rem;
        opacity: 0;
    }

    .brew-Button__loadingIndicator {
        top: calc(50% + 2px);
        opacity: 1;
    }

}

// ----------------------------------------------
// isFluid

.brew-Button--isFluid {
    width: 100%;
}

// ----------------------------------------------
// isCompact

.brew-Button--isCompact {
    min-width: 0;
    padding: utilities.size(small);
}

// ----------------------------------------------
// isCircular

.brew-Button--isCircular.brew-Button--variant-icon {
    min-width: 0;
    border-radius: 50%;

    .brew-Button__content {
        width: 1rem;
    }

    .brew-Button__icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}
