@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Button {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-radius: map_get($button, border_radius);
    padding: 1em;
    font-family: inherit;
    text-transform: uppercase;
    line-height: 1em;
    cursor: pointer;
    transition: all 0.3s;
    color: white;

    .brew-Button {

        &__content {
            position: relative;
            height: 1em;
            opacity: 1;
        }

        &__icon {
            display: block;
            position: relative;
            font-size: 1.5em;
        }

        &__text {
            display: block;
            color: white;
            font-weight: map-get($button, font_weight);
        }

        &__loadingIndicator {
            pointer-events: none;
            opacity: 0;
            position: absolute;
            top: calc(50% + 1rem);
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}

.brew-Button--isDisabled {
    opacity: 0.5;
    cursor: not-allowed;
}

// ----------------------------------------------
// responsive

@include for-tablet-portrait-up {

    .brew-Button {
        width: auto;
        min-width: 1em * 10;
    }

}


// ==============================================
// Colors
// ==============================================

$colors: primary, secondary, success, info, warning, danger, light, dark;

@each $color in $colors {

    .brew-Button.brew-Button--color-#{$color} {

        $button_color: map_get(map_get($button, colors), $color);

        &.brew-Button--variant-text {
            background-color: transparent;
            border-color: transparent;

            &:hover {
                background-color: rgba($button_color, .1);
            }

            .brew-Button {

                &__content, 
                &__text {
                    color: $button_color;
                }
            }
        }

        &.brew-Button--variant-standard,
        &.brew-Button--variant-icon,
        &.brew-Button--variant-labeled-icon {
            background-color: $button_color;
            border-color: $button_color;

            .brew-Button__content {
                color: set-text-color($button_color);
            }

            .brew-Button__icon {
                fill: set-text-color($button_color);
            }

            &:hover {
                background-color: darken($button_color, 10%);
                border-color: darken($button_color, 10%);
            }

            &.brew-Button--isDisabled {
                background-color: transparent;
                border-color: $button_color;

                .brew-Button__content, 
                .brew-Button__text {
                    color: $button_color;
                }

            }

        }

    }

}

.brew-Button--color-link {
    background-color: transparent;
    border-color: transparent;
    color: map_get(map_get($button, colors), link);

    &:hover {
        background-color: rgba(map_get(map_get($button, colors), link), 0.1);
    }

}


// ==============================================
// Variants
// ==============================================

// ----------------------------------------------
// icon

.brew-Button--variant-icon {

    .brew-Button__text {
        display: none;
    }

}


// ==============================================
// Sizes
// ==============================================

.brew-Button--size-small { font-size: size(small); }

.brew-Button--size-medium { font-size: size(normal); }

.brew-Button--size-large { font-size: size(large); }


// ==============================================
// States
// ==============================================

// ----------------------------------------------
// isLoading

.brew-Button--isLoading {

    .brew-Button__content {
        top: -1rem;
        opacity: 0;
    }

    .brew-Button__loadingIndicator {
        top: 50%;
        opacity: 1;
    }

}

// ----------------------------------------------
// isFluid

.brew-Button--isFluid {
    width: 100%;
}

// ----------------------------------------------
// isCompact

.brew-Button--isCompact {
    min-width: 0;
    padding: size(small);
}

// ----------------------------------------------
// isCircular

.brew-Button--isCircular.brew-Button--variant-icon {
    min-width: 0;
    border-radius: 50%;

    .brew-Button__content {
        width: 1em;
    }

    .brew-Button__icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}
