@use 'sass:map';
@use '../utilities';


// ==============================================
// Card
// ==============================================

.brew-Card--hasBorder {
    box-shadow: map.get(utilities.$general, box-shadow);
}


// ==============================================
// Card.Header
// ==============================================

.brew-CardHeader {
    padding: utilities.size('base');
    background-color: utilities.color(grey, 50);
    border-bottom: 1px solid utilities.color(gray, 100);
}


// ==============================================
// Card.Body
// ==============================================

.brew-CardBody {
    padding: utilities.size(normal);
}
