@use '../utilities';


// ==============================================
// Checkbox
// ==============================================

$checkmark-color: #ffffff;
$checkbox-grey: utilities.color(grey, 100);


// -------------------------------------
// General

.brew-Checkbox {
    overflow: hidden;
    align-items: center;
    cursor: pointer;

    input {
        display: none;
    }

    .brew-Checkbox__box {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $checkbox-grey;
        border-radius: utilities.$border-radius;
        transition: all 0.3s;
    }


    .brew-Checkbox__icon {
        opacity: 0;
        color: $checkmark-color;
    }


}


// -------------------------------------
// On Hover & On Focus

.brew-Checkbox:hover,
.brew-Checkbox:focus {
    outline: none;

    .brew-Checkbox__box {
        border: 1px solid rgba(utilities.color(brand, primary), 0.2);
        background-color: rgba(utilities.color(brand, primary), 0.2);
    }

}


// -------------------------------------
// Checked

.brew-Checkbox input:checked {

    & ~ .brew-Checkbox__box {
        border: 1px solid utilities.color(brand, primary);
        background-color: utilities.color(brand, primary);

        .brew-Checkbox__icon {
            opacity: 1;
        }

    }

}


// -------------------------------------
// Disabled

.brew-Checkbox--isDisabled.brew-Checkbox {
    cursor: not-allowed;

    input ~ .brew-Checkbox__box {
        border: 1px solid $checkbox-grey;
        background-color: $checkbox-grey;
    }

}


// -------------------------------------
// hasError

.brew-Checkbox--hasError.brew-Checkbox {

    input ~ .brew-Checkbox__box {
        border: 1px solid utilities.color(accent, danger);
        background-color: transparent;

        .brew-Checkbox__icon {
            color: utilities.color(accent, danger);
        }

    }

}
