@use 'sass:map';
@use '../utilities';


.brew-Dialog {
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: map.get(utilities.$dialog, z-index);
    font-family: map.get(utilities.$typography, 'font-family');

    .brew-Dialog {

        &__background {
            background-color:  map.get(utilities.$dialog, 'backdrop-color');
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }

        &__content {
            z-index: 1;
            width: 100%;
            max-width: map.get(utilities.$dialog, 'max-width');
            padding: utilities.size(xx-large) utilities.size(normal);
            text-align: center;
            box-sizing: border-box;
        }

        &__icon {
            height: utilities.size(xx-large) * 1.5;
        }

        &__closeIcon {
            display: none;
        }

        &__title {
            font-size: utilities.size(xx-large);
        }

        &__icon + .brew-Dialog__title {
            margin-top: utilities.size(normal);
        }

        &__actionButton {

            .brew-Button {
                display: block;
                width: 100%;
            }
        }

        &__body {
            color: white;
            font-weight: map.get(map.get(utilities.$typography, font-weights), body1);
            margin-top: utilities.size(normal);
        }

        &__footer {
            margin-top: utilities.size(xx-large);
            display: flex;
            flex-direction: column;

            .brew-Dialog__actionButton--confirm {
                order: 1;
            }

            .brew-Dialog__actionButton--cancel {
                order: 2;
                margin-top: utilities.size(xx-large);
            }
        }

        &__actionButton--cancel {

            .brew-Button {
                background-color: transparent !important;
                border-color: transparent !important;

                .Button__text,
                .brew-Button__text {
                    color: utilities.color(brand, primary) !important;
                }

                &:hover {
                    background-color: rgba(utilities.color(brand, primary), .1) !important;
                }
            }
        }
    }
}

.brew-Dialog--isOpen {
    display: flex;
}

$variants: (
    info,
    success,
    warning,
    danger,
);

@each $variant in $variants {
    .brew-Dialog--color-#{$variant} {

        .brew-Dialog {

            &__title,
            &__icon {
                color: utilities.color(accent, $variant);
            }
        }
    }
}

