@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Divider {
    display: grid;
    padding: 1rem 0;
    text-transform: uppercase;

    > * {
        align-self: center;
        justify-self: center;
    }

    hr {
        display: block;
        width: 100%;
        height: 1px;
        border: none;
        overflow: hidden;
        background-color: color(brand, tertiary);
    }

}


// ==============================================
// Alignments
// ==============================================

.brew-Divider--align-center {
    grid-template: 1fr / 1fr max-content 1fr;
    grid-gap: 1rem;
}

.brew-Divider--align-left {
    grid-template: 1fr / 1rem max-content 1fr;
    grid-gap: 1rem;
}

.brew-Divider--align-right {
    grid-template: 1fr / 1fr max-content 1rem;
    grid-gap: 1rem;
}


// ==============================================
// States
// ==============================================

.brew-Divider.brew-Divider--isChildless {
    grid-template: 1fr / 1fr;
}
