@import "../utilities";


.brew-Drawer {
    position: fixed;
    background-color: color(grey, 900);
    color: color(grey, 100);
    z-index: 1;

    &__exit {
        position: absolute;
        right: size(x-small);
        top: size(xx-small);
        font-size: size(xx-large);
        cursor: pointer;
    }

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color(grey, 900);
        opacity: 0.7;
    }

    &__content {
        display: grid;
    }

    &--anchorFrom {

        &-top {
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            top: 0;
            right: 0;
            left: 0;
            height: size(normal) * 18.75;
            transform: translateY(-100%);
        }

        &-right {
            grid-auto-flow: row;
            grid-auto-rows: min-content;
            top: 0;
            right: 0;
            bottom: 0;
            width: size(normal) * 18.75;
            transform: translateX(100%);
        }

        &-bottom {
            grid-auto-flow: column;
            grid-auto-columns: min-content;
            bottom: 0;
            right: 0;
            left: 0;
            height: size(normal) * 18.75;
            transform: translateY(100%);
        }

        &-left {
            grid-auto-flow: row;
            grid-auto-rows: min-content;
            top: 0;
            bottom: 0;
            left: 0;
            width: size(normal) * 18.75;
            transform: translateX(-100%);
        }
    }

    &--isOpen {
        transform: translate(0, 0);
    }
}
