@import "../utilities";


// ==============================================
// Helpers
// ==============================================

$size: size(normal) * 18.75;

@mixin grid($flow, $template, $templateSetting) {
    display: grid;
    grid-auto-flow: $flow;
    grid-auto-#{$template}: $templateSetting;
    grid-gap: size(normal);
}

// ==============================================
// General
// ==============================================

.brew-Drawer {
    position: fixed;
    background-color: color(grey, 900);
    color: color(grey, 50);
    padding: 2rem 1rem;
    z-index: 1;

    &__exit {
        position: absolute;
        right: size(x-small);
        top: size(xx-small);
        font-size: size(xx-large);
        cursor: pointer;
    }

    &__mask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color(grey, 900);
        opacity: 0.7;
    }

    &__content {

        .brew-Drawer__item {
            cursor: pointer;
        }
    }

    &--anchorFrom {

        &-top {
            top: 0;
            right: 0;
            left: 0;
            max-height: $size;
            transform: translateY(-100%);

            .brew-Drawer__content {
                @include grid(column, columns, max-content);
            }
        }

        &-right {
            top: 0;
            right: 0;
            bottom: 0;
            width: $size;
            transform: translateX(100%);

            .brew-Drawer__content {
                @include grid(row, rows, min-content);
            }
        }

        &-bottom {
            bottom: 0;
            right: 0;
            left: 0;
            max-height: $size;
            transform: translateY(100%);

            .brew-Drawer__content {
                @include grid(column, columns, max-content);
            }
        }

        &-left {
            top: 0;
            bottom: 0;
            left: 0;
            width: $size;
            transform: translateX(-100%);

            .brew-Drawer__content {
                @include grid(row, rows, min-content);
            }
        }
    }

    &--isOpen {
        transform: translate(0, 0);

        ~ .brew-Drawer__mask {
            display: block;
        }
    }
}
