@use '../utilities';
@use '../material-colors';


// ==============================================
// General
// ==============================================

.brew-ExpansionPanel {

    &__summary {
        background-color: material-colors.get(blueGrey, 50);
    }

    &__summaryContent {
        color: material-colors.get(blue, 900);
    }

    &__details {
        color: utilities.color(grey, 500)
    }

    &--isExpanded {

        .brew-ExpansionPanel__summary {
            border-bottom: 1px solid utilities.color(grey, 100);
        }

        .brew-ExpansionPanel__summaryContent {
        }

        .brew-ExpansionPanel__expandIcon {
            color: utilities.color(brand, primary);
        }
    }

    &.brew-ExpansionPanel--isDisabled {
        background-color: utilities.color(brand, tertiary);
    }
}


// ==============================================
// Custom styling for Story/Documentation
// ==============================================

&.custom-class {
    margin: 0;

    .brew-Checkbox__box {
        height: 1rem;
        width: 1rem;
    }

    .brew-Checkbox__label {
        color: material-colors.get(blue, 900);
    }

    &.brew-ExpansionPanel--isExpanded {

        .brew-ExpansionPanel__summaryContent {
            color: material-colors.get(blue, 900);
        }
    }
}
