@import "../utilities";


// ==============================================
// Form.Group
// ==============================================

.brew-FormGroup {
    margin-bottom: size(normal);
}


// ==============================================
// Form.Group
// ==============================================

.brew-FormLabel {
    display: block;
    margin-bottom: size(x-small);
}
