@import "../utilities";


// ==============================================
// Form.Group
// ==============================================

.brew-FormGroup {
    margin-bottom: size(normal);
}


// ==============================================
// Form.Group
// ==============================================

.brew-FormLabel {
    display: block;
}


// ==============================================
// Form.Field
// ==============================================

.brew-FormField {
    display: grid;
    grid-row-gap: size(x-small);
}

.brew-FormField--hasError .brew-Input--textInput .brew-Input__element {
    border: 1px solid color(accent, danger);
}

.brew-FormField--hasError .brew-FormHelperText {
    color: color(accent, danger);
}


// ==============================================
// Form.HelperText
// ==============================================

.brew-FormHelperText {
    font-size: size(small);
}
