@use '../utilities';


// ==============================================
// Variables
// ==============================================

$colors: (
    primary: utilities.color(brand, primary),
    secondary: utilities.color(brand, secondary),
    success: utilities.color(accent, success),
    danger: utilities.color(accent, danger),
    warning: utilities.color(accent, warning),
    info: utilities.color(accent, info),
    dark: utilities.color(accent, dark),
    light: utilities.color(accent, light),
);


// ==============================================
// Colors
// ==============================================

@include utilities.fetch-color('.brew-Icon.brew-Icon--color-', 'color');
@include utilities.fetch-color('.brew-SvgIcon.brew-SvgIcon--color-', 'color');


// ==============================================
// Sizes
// ==============================================

.brew-Icon--size-small,
.brew-SvgIcon--size-small { font-size: utilities.size(small) * 1.5; }

.brew-Icon--size-medium,
.brew-SvgIcon--size-medium { font-size: utilities.size(normal) * 1.5; }

.brew-Icon--size-large,
.brew-SvgIcon--size-large { font-size: utilities.size(large) * 1.5; }

.brew-Icon--size-inherit,
.brew-SvgIcon--size-inherit { font-size: 1em; }
