@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Label {
    display: inline-flex;
    border-width: 2px;
    border-style: solid;
    border-radius: $border-radius * 2;

    .title {
        display: inline-flex;
        border-right-width: 2px;
        border-right-style: solid;
        padding: 0 0.5em;
    }

    .content {
        display: inline-flex;
        padding: 0 0.5em;
    }
}

// ==============================================
// Colors
// ==============================================

$colors: primary, secondary, success, info, warning, danger, light, dark;

@each $color in $colors {

    .brew-Label__color--#{$color} {

        $button_color: map_get(map_get($button, colors), $color);
        background-color: rgba($button_color, 0.1);
        border-color: $button_color;

        .title {
            background-color: $button_color;
            border-right-color: $button_color;
        }

        .title span {
            font-weight: bold;
            color: set-text-color($button_color);
        }

        .content {
            color: $button_color;
        }

        .content span {
            font-weight: bold;
        }
    }
}
