@use '../utilities';


// ==============================================
// Variables
// ==============================================

$colors: (
    primary: utilities.color(brand, primary),
    secondary: utilities.color(brand, secondary),
    success: utilities.color(accent, success),
    danger: utilities.color(accent, danger),
    warning: utilities.color(accent, warning),
    info: utilities.color(accent, info),
    dark: utilities.color(accent, dark),
    light: utilities.color(accent, light),
    link: utilities.color(accent, info),
);


// ==============================================
// General
// ==============================================

.brew-Label {
    display: inline-flex;
    border-width: 2px;
    border-style: solid;
    border-radius: utilities.$border-radius * 2;

    .title {
        display: inline-flex;
        border-right-width: 2px;
        border-right-style: solid;
        padding: 0 0.5em;
    }

    .content {
        display: inline-flex;
        padding: 0 0.5em;
    }
}

// ==============================================
// Colors
// ==============================================

$color-variants: primary, secondary, success, info, warning, danger, light, dark;

@each $color in $color-variants {

    .brew-Label__color--#{$color} {

        $button_color: map_get($colors, $color);
        background-color: rgba($button_color, 0.1);
        border-color: $button_color;

        .title {
            background-color: $button_color;
            border-right-color: $button_color;
        }

        .title span {
            font-weight: bold;
            color: utilities.set-text-color($button_color);
        }

        .content {
            color: $button_color;
        }

        .content span {
            font-weight: bold;
        }
    }
}
