@use 'sass:map';
@use '../utilities';


// ==============================================
// Variables
// ==============================================

$padding: 0;
$border-radius: utilities.$border-radius;
$border-color: utilities.color(grey, 200);


// ==============================================
// General
// ==============================================

.brew-Paper {
    padding: $padding;

    &.brew-Paper {

        // --------------------------------------
        // Elevations

        &--elevation-1 { @include utilities.height-1 }
        &--elevation-2 { @include utilities.height-2 }
        &--elevation-3 { @include utilities.height-3 }
        &--elevation-4 { @include utilities.height-4 }
        &--elevation-5 { @include utilities.height-5 }

        // --------------------------------------
        // isRounded

        &--isRounded { border-radius: $border-radius; }

        // --------------------------------------
        // Variant - outlined

        &--variant-outlined { border: 1px solid $border-color; }

    }

}
