@use "../utilities";
@use "../functions";


// ==============================================
// General
// ==============================================

.brew-Placeholder, .brew-Placeholder__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: functions.size(normal);
}

.brew-Placeholder__content {
  text-align: center;
}

.brew-Placeholder__graphic {
  font-size: functions.size(xx-large) * 2;
}
