@use '../utilities';


$snackColors: primary, secondary, success, warning, danger, info, dark, light;


.brew-Snackbar {

    &__message {
        // stuff
    }

    &__action {
        cursor: pointer;
    }

    @each $color in $snackColors {
        &--#{$color} {

            @if $color == 'primary' or $color == 'secondary' {
                background-color: utilities.color(brand, $color);
                color: utilities.set-text-color(utilities.color(brand, $color));
            } @else {
                background-color: utilities.color(accent, $color);
                color: utilities.set-text-color(utilities.color(accent, $color));
            }
        }
    }
}
