@import "../utilities";


$accentColors: (info, success, danger);

.brew-StatusCard {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    margin: size(normal);

    &--standard {
        justify-content: center;
        padding: size(x-small) size(normal) size(x-small) size(small);
        border-left: size(xx-small) solid;

        .icon {
            align-items: center;
            display: flex;
            margin-right: size(x-small);

            span {
                height: 3rem;
            }
        }
    }

    &--compact {
        flex-direction: column;
        margin: size(normal);
        padding: size(x-small) size(small);

        .cardBody {
            font-size: size(small);
        }
    }

    @each $color in $accentColors {
        &--color-#{$color} {
            border-left-color: color(accent, $color);

            &.brew-StatusCard--isFilled {
                background-color: rgba(color(accent, $color), .2);
            }
        }
    }

    &--isDisabled {
        border-left-color: color(brand,tertiary);

        & h1,
        span,
        span > svg {
            color: color(brand,tertiary)!important;
            fill: color(brand,tertiary)!important;
        }

        &.brew-StatusCard--isFilled {
            background-color: rgba(color(brand, tertiary), .2);
        }
    }
}
