@use '../utilities';


// ==============================================
// Variables
// ==============================================

// $border-color: utilities.color(grey, 100);
// $border-focus-color: utilities.color(brand, primary);
// $error-color: utilities.color(accent, error);


// ==============================================
// Tabs
// ==============================================

.brew-Tabs {

}


// ==============================================
// TabList
// ==============================================

.brew-TabList {

    &__flexContainer {
        justify-content: space-between;
    }

    &__scroller {
        border-bottom: 1px solid utilities.color(grey, 100);
    }

    &__indicator {
        background-color: utilities.color(brand, primary);
        height: utilities.size(normal) * .25;
    }
}

@media (min-width: map_get(utilities.$breakpoints, tablet-portrait)) { 
    .brew-TabList {

        &__flexContainer {
            justify-content: flex-start;
        }
    }
}


// ==============================================
// Tab
// ==============================================

.brew-Tab {
    min-width: auto !important;
    min-height: 44px;
    padding-left: utilities.size(normal);
    padding-right: utilities.size(normal);
    opacity: 1;
    
    &__label.brew-Typography {
        font-size: .875rem;
        color: utilities.color(grey, 500);
        display: none;
    }

    &__icon {
        margin-bottom: 0 !important;
        color: utilities.color(grey, 500);
        font-size: 1rem;
    }
}

.brew-Tab--labelIcon {

    .brew-Tab {
        
        &__wrapper {
            flex-direction: row;
        }
    }
}

.brew-Tab--selected {
    
    .brew-Tab {

        &__label.brew-Typography {
            color: utilities.color(brand, primary);
        }

        &__icon {
            color: utilities.color(brand, primary);
        }
    }
}

.brew-Tab--fullWidth {
    flex-grow: 0;
    flex-basis: auto;
}

@media (min-width: map_get(utilities.$breakpoints, tablet-portrait)) { 
    .brew-Tab {

        &__label.brew-Typography {
            display: inline-flex;
        }

        &__icon {
            margin-right: utilities.size(normal) * .5;
        }
    }
}
