@import "../utilities";


// ==============================================
// Table
// ==============================================

.brew-Table {
    border-collapse: collapse;
    font-family: map-get($typography, 'font-family');
    overflow: hidden;
    width: 100%;
}


// ==============================================
// Table.Cell
// ==============================================

.brew-TableCell {
    color: color(grey, 300);
    font-size: size(small);
    font-weight: map-get(map-get($typography, 'font-weights'), body1);
    padding: size(normal);
}


// ==============================================
// Table.Header
// ==============================================

.brew-TableHeader {
    @extend %height-1;
    background-color: color(grey, 50);
    font-size: size(normal);
    text-align: left;
}


// ==============================================
// Table.Header.Column
// ==============================================

.brew-TableHeaderColumn {
    line-height: size(small);
    padding: size(small) size(normal);
    pointer-events: none;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    width: auto;
}


// ==============================================
// Table.Row
// ==============================================

.brew-TableRow {
    border-bottom: 1px solid color(grey, 100);

    &:nth-of-type(even) {
        background-color: rgba(color(grey, 900), 0.02);
    }
}
