@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Tooltip {
    display: inline;

    &__wrapper {
        display: inline-flex;
        max-width: size(normal) * 15;
        padding: size(x-small);
        position: fixed;
        z-index: -1;
        opacity: 0;
    }

    &__content {
        @extend %height-2;
        border-radius: size(xx-small);
        padding: size(small);
        font-family: Roboto, serif;
        color: color(grey, 100);
    }

    &--open {
        z-index: 25;
        opacity: 1;
    }
}


// ==============================================
// Colors
// ==============================================

$tooltipColors: primary, secondary, success, info, warning, danger, light, dark;

@each $tooltipColor in $tooltipColors {

    .brew-Tooltip--color-#{$tooltipColor} {
        $tooltip_color: map_get(map_get($tooltip, colors), $tooltipColor);
        background-color: $tooltip_color;
        color: white !important;
    }

}
