@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "../utilities";


// ==============================================
// General
// ==============================================

.brew-Typography {
    font-family: Roboto, serif;
    color: color(grey, 800);
    margin: 0;
}


// ==============================================
// Colors
// ==============================================

$colors: primary, secondary, tertiary, success, info, warning, danger;

@mixin color-styles($color) {
    color: map_get(map_get($typography, colors), $color);
}

@each $color in $colors {
    .brew-Typography.brew-Typography--color-#{$color} {
        @include color-styles($color);
    }
}


// ==============================================
// Variants
// ==============================================

$variants: h1, h2, h3, body1, body2, label;

@mixin variant-styles($variant) {
    font-size: map_get(map_get($typography, font-sizes), $variant);
    font-weight: map_get(map_get($typography, font-weights), $variant);
    line-height: map_get(map_get($typography, line-heights), $variant);
    color: map_get(map_get($typography, colors), $variant);
}

@each $variant in $variants {
    .brew-Typography--variant-#{$variant} {
        @include variant-styles($variant);
    }
}

.brew-Typography--variant-label {
    text-transform: uppercase;
}

.brew-Typography--variant-inherit {
    font-size: inherit;
}


// ==============================================
// Alignments
// ==============================================

$alignments: inherit, left, right, center, justify;

@each $alignment in $alignments {
    .brew-Typography--align-#{$alignment} {
        text-align: $alignment;
    }
}


// ==============================================
// Display types
// ==============================================

$displays: block, inline, inline-block;

@each $display in $displays {
    .brew-Typography--display-#{$display} {
        display: $display;
    }
}


// ==============================================
// States
// ==============================================

.brew-Typography--hasBottomMargin {
    margin-bottom: 1rem;
}

.brew-Typography--shouldTruncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
