@import "../../styles/utilities";


// ==============================================
// Variables
// ==============================================

$icon: (

    colors: (
        primary: color(brand, primary),
        secondary: color(brand, secondary),
        success: color(accent, success),
        danger: color(accent, danger),
        warning: color(accent, warning),
        info: color(accent, info),
        dark: color(accent, dark),
        light: color(accent, light),
    )

);


// ==============================================
// General
// ==============================================

.wrapper {
    display: inline-block;
    margin: -0.25em 0;

    svg {
        shape-rendering: geometricPrecision;
    }

}


// ==============================================
// Colors
// ==============================================

@mixin color-styles($colorName) {
    $svg_color: map_get(map_get($icon, colors), $colorName);

    color: $svg_color;

    svg {
        fill: $svg_color !important;
    }

}

.color--primary { @include color-styles(primary); }

.color--secondary { @include color-styles(secondary); }

.color--success { @include color-styles(success); }

.color--danger { @include color-styles(danger); }

.color--warning { @include color-styles(warning); }

.color--info { @include color-styles(info); }

.color--light { @include color-styles(light); }

.color--dark { @include color-styles(dark); }

.color--inherit {
    color: inherit;

    svg {
        fill: currentColor;
    }

}


// ==============================================
// Sizes
// ==============================================

.size--small { height: size(small) * 1.5; }

.size--medium { height: size(normal) * 1.5; }

.size--large { height: size(large) * 1.5; }

.size--inherit { height: 1em; }