@import '../../styles/_utilities.scss';

// Dashboard Cards are restricted to three colors (info, success, and danger)
// color(accent, info,success,danger)

.wrapper {
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    display: inline-block;
    margin: 1rem;
}
.standard {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid;
    margin: 1rem;
}

$accentColors: (info, success, danger);

@each $color in $accentColors {

    .color--#{$color} {
        border-left-color: color(accent, $color);

        &.disabled {
            border-left-color: color(brand,tertiary);

            & h1,
            span {
                color: color(brand,tertiary);
            }

            &.fill {
                background-color: rgba(color(brand, tertiary), .2);
            }
        }

        &.fill {
            background-color: rgba(color(accent, $color), .2);
        }

    }

}

