@use '../utilities';


// ==============================================
// Variables
// ==============================================

$checkmark-color: #ffffff;
$checkbox-grey: utilities.color(grey, 100);
$border-width: 1px;
$spacing: utilities.size(x-small);


// ==============================================
// General
// ==============================================

.brew-Checkbox {
    margin: 0;

    .brew-Checkbox__base {
        margin: -$spacing;
        padding: $spacing;
        overflow: hidden;
        align-items: center;
        cursor: pointer;
        color: utilities.color(brand, primary);
    }

    input {
        display: none;
    }

    .brew-Checkbox__box {
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: $border-width solid $checkbox-grey;
        border-radius: utilities.$border-radius;
        transition: all 0.3s;
    }


    .brew-Checkbox__icon {
        opacity: 0;
        color: $checkmark-color;
    }


    // -------------------------------------
    // Checked & Indeterminate

    .brew-Checkbox--isChecked,
    .brew-Checkbox--isIndeterminate {

        & .brew-Checkbox__box {
            border: $border-width solid utilities.color(brand, primary);
            background-color: utilities.color(brand, primary);

            .brew-Checkbox__icon {
                opacity: 1;
            }

        }

    }

}

// ==============================================
// Higher Specificity
// ==============================================

.brew-Checkbox.brew-Checkbox {


    .brew-Checkbox__base:hover {
        color: utilities.color(brand, primary);
        background-color: transparent;
    }

    // -------------------------------------
    // Disabled
    .brew-Checkbox--isDisabled {
        cursor: not-allowed;

        .brew-Checkbox__box {
            border: $border-width solid $checkbox-grey;
            background-color: $checkbox-grey;
        }

    }

    // -------------------------------------
    // Errored
    .brew-Checkbox--hasError {

        .brew-Checkbox__box {
            border: $border-width solid utilities.color(accent, error);
        }

    }

    // -------------------------------------
    // On Hover & On Focus
    .brew-Checkbox__base:hover {

        .brew-Checkbox__box {
            border: $border-width solid utilities.color(brand, primary);
        }

    }


}


// ==============================================
// Label Placements
// ==============================================

.brew-Checkbox .brew-Checkbox__label {
    margin: 0 0 0 $spacing;
}

.brew-Checkbox.brew-Checkbox--labelPlacement {

    &-start .brew-Checkbox__label {
        margin: 0 $spacing 0 0;
    }

    &-top .brew-Checkbox__label {
        margin: 0 0 $spacing 0;
    }

    &-bottom .brew-Checkbox__label {
        margin: $spacing 0 0 0;
    }

}
