@import "variables";


// ==============================================
// Responsive Mixins
// ==============================================

@mixin for-tablet-portrait-up {
  @media (min-width: map_get($breakpoints, tablet-portrait)) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: map_get($breakpoints, tablet-landscape)) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: map_get($breakpoints, desktop)) { @content; }
}


// ==============================================
// Triangle Mixin
// ==============================================

@mixin triangle($direction, $size, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;

    @if $direction == top {
        border-width: 0 $size $size $size;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottom{
        border-width: $size $size 0 $size;
        border-color: $color transparent transparent transparent;
    }
    @if $direction == left{
        border-width: $size $size $size 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == right{
        border-width: $size 0 $size $size;
        border-color: transparent transparent transparent $color;
    }
}