@import '../../../../styles/utilities';

$border-radius: map-get($inputs, border-radius);

.textareaWrapper {
    display: inline-flex; 
    width: 100%;
    max-width: map-get($inputs, width);
}

.hasAppend {

    .textarea {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.hasPrepend {
    
    .textarea {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.appendInput,
.prependInput {
    padding: size(normal);
    border: 1px solid color(grey, 100);
    display: flex;
    align-items: center;
}

.prependInput {
    padding-right: 0;
    border-right: none;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.appendInput {
    padding-left: 0;
    border-left: none;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.textarea {
    flex-grow: 1;
    font-size: 1rem;
    color: color(grey, 800);
    padding: size(normal);
    border: 1px solid color(grey, 100);
    border-radius: $border-radius;
    box-sizing: border-box;

    &:active,
    &:focus {
        outline: none;
        border-color: color(brand, primary);

        &.isDisabled {
            border-color: color(grey, 100);
        }
    }
}

.hasError {

    .textarea,
    .appendInput,
    .prependInput {
        border-color: color(accent, danger);
    }
}

.isDisabled {

    .textarea,
    .appendInput,
    .prependInput {
        border-color: color(grey, 100);
        background-color: color(grey, 100);
    }
}

.isFullWidth {
    max-width: initial;
}
